* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --black: rgb(20, 20, 20);
    --white: rgb(230, 230, 230);
    --white-dark: rgb(200, 200, 200);
    --box-shadow: rgba(231, 231, 231, 0.623);
}

body {
    background: var(--black);
}

.upperPage {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 40px;
}

.logo * {
    width: 40vw;
    height: auto;
}

.title {
    font-size: 72px;
    color: white;
    font-weight: 600;
}

.navbar-dinamica {
    width: 100%;
    background: var(--white);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}

.button:hover {
    background: var(--white-dark);
}